<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./public/css/main.css">
</head>

<body>
    <div class="nav-bar">
        <div class="logo">
            <h1>Swastha Yatra</h1>
        </div>
        <div class="menus">
            <a href="">Hospitals</a>
            <a href="">Doctors</a>
            <a href="">Billing</a>
            <a href="">My Account</a>
        </div>
    </div>
    <!-- <div class="patient-acc">
        <%data.forEach(element=>{%>
            <a href="/hospitals/<%=element.username%>" class="cards">
                <div class="container1">
                    <img src="/uploads/<%= element.img %>" />
                </div>
                <div class="hos-details">
                    <p class="d1">
                        <%= element.username %>
                    </p>
                    <p class="d2">Birta, Birgunj</p>
                </div>
            </a>
        <%})%>
    </div> -->

    <!-- <div class="hospital-main">
        <%data.forEach(element=>{%>
                <div class="container1">
                    <img src="/uploads/<%= element.img %>" />
                </div>
                <div class="hos-details">
                    <p class="d1">
                        <%= element.username %>
                    </p>
                    <p class="d2"><%= element.address %></p>
                </div>
                <%})%>
    </div> -->

    <div class="main-hospital">
        <div class="hos-card">
            <div class="container1">
                <img src="./public/img/Artboard 1.png" />
            </div>
            <div class="details">
                <div class="name">
                    <h1>Narayani Hospital</h1>
                </div>
                <div class="address">
                    <p>Birta, Birgunj</p>
                </div>
            </div>
        </div>
    </div>

</body>

</html>