<%- include('partials/header') -%>
    <%if(data.type!=='patient'){%>
         <%if(data.type==='hospital' ){%>
        <a href="/account/doctors">Doctors</a>
        <%}%>
            <a href="/account/patients">Patients</a>
            <a href="/logout">Logout</a>
            <%}else{%>
                <h2>Your Appointments</h2>
                <% doctors %>
            <%}%>


                <%- include('partials/footer') -%>