<%- include('partials/header') -%>
    <div class="hero-section">
        <div class="logo-section">
            
            <div class="main">
                <h1>Swastha Yatra</h1>
            </div>
            <div class="sub">
                <p>"We appriciate your Time, Money & Energy."</p>
            </div>
            <div class="main-btns">
                <a href="/hospitals"  class="btn margin">Book an Appointment</a>
                <a href="/register" id="book" class="btn margin btn2">Register</a>
            </div>
        </div>
        <div class="img-section">
            <img src="/img/bg.png" />
        </div>
    </div>




    <%- include('partials/footer') -%>