<%- include('partials/header') -%>
<div class="interface-cont">
    <div class="int-title">
        <h1>Swastha Yatra</h1>
        <h2>We Appreciate Your Time.</h2>
        <a class="consult" href="">Consult Now</a>
    </div>
    <img class="int-img" src="/img/Flat_design_man_using_phone_character_Vector.jpg">
</div>

<%- include('partials/footer') -%>