<%- include('partials/header') -%>


<div class="hero-section register">
    <div class="form-main">
        <div class="head">
            <h2>Login</h2>
        </div>
        <form action="/login" class="form" method="post">
            <input type="text" name="username" placeholder="User Name" class="input" />
            <input type="text" name="password" placeholder="Password" class="input" />
            <button type="submit" class="btn">Login</button>
        </form>
        <div class="ask">
            <p>Dont't have an account ? <a href="/register" >Register</a></p>
        </div>
    </div>
    <div class="img-section">
        <img src="/img/register.jpg" />
    </div>
</div>



<%- include('partials/footer') -%>