<%- include('partials/header') -%>
<div class="head move1">Download the Appointment Bill</div>
<div class="hero-section ">
    <div class="qr-sec">
          <img src="<%= qr %>" />
<a href="<%= qr %>" class="btn move" download="">Download</a>  
    </div>
</div>


<%- include('partials/footer') -%>