*{
    margin: 0;
    font-family: "Poppins", sans-serif;
}

body{
    /* background-color: rgb(245, 245, 245); */
}

.nav-bar{
    height: 13vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #00a2ff;
    color: white;
}

.logo > h1{
    position: relative;
    right: 117px;
}

a{
    text-decoration: none;
    color: black;
}

.menus{
    display: flex;
    gap: 30px;
}

.menus >a{
    color: white;
}

.hero-section{
    display: flex;
    justify-content: center;
    height: 88vh;
    align-items: center;
}

.logo-section{
    width: 50%;
    display: flex;
    flex-direction: column;
    height: 88vh;
    justify-content: center;
    padding-left: 100px;
}

.logo-section > .main > h1{
    font-size: 64px;
    color: #00a2ff;
}

.logo-section > .sub > p{
    color: #2693d2;
}

.img-section{
    width: 50%;
    padding-top: 50px;
}

.img-section >img{
    height: 500px;
    object-fit: cover;
    margin-right: 50px;
    margin-top: 15px;
}

.btn{
    background-color: #00a2ff;
    padding: 15px 20px;
    border-radius: 4px;
    color: white;
}

.btn2{
    background-color: white;
    color: black;
    font-weight: 300;
}

.margin{
    position: relative;
    top: 40px;
}

.services{
    height: 50vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 50px;
}

.heading > h2{
    font-weight: 700;
    text-decoration: underline;
    text-underline-offset: 10px;
    color: rgb(34, 34, 34);
}

.cards{
    margin-top: 60px;
    width: 300px;
    height: 20vh;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px 0px;
}

.cards-section{
    display: flex;
    gap: 30px;
}

.icons>i{
    font-size: 90px;
    color: #00a2ff;
}

.text > h3{
    color: rgb(34, 34, 34);
    font-weight: 300;
    margin-top: 30px;
}

footer{
    display: flex;
    justify-content: center;
    height: 50px;
    align-items: center;
}

.cards-main{
    width: 300px;
    text-align: center;
}

.cards-main > p{
    margin-top: 40px;
}

form{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.head > h2{
    text-align: center;
    color: #00a2ff;
}

.input{
    height: 35px;
    padding: 5px 15px;
    border-radius: 4px;
    border: 1px solid rgb(208, 208, 208);
}

.btn{
    border: none;
}

.ask{
    margin-top: 20px;
    text-align: center;
}

.ask > p {
    font-size: 14px;
}

.ask >p>a{
    color: #2693d2;
    font-weight: 400;
}

.img-section>img{
    height: 400px;
}

.register{
    padding-left: 140px;
}

.items{
    display: flex;
}

i{
 color: #2497ff;
  margin-right: 10px;
   font-size: 20px;
}

.dash{
    display: flex;
}

.side-bar{
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-right: 40px;
}

.dashboard-main{
    width: 75%;
    height: 100%;
}

.items{
    display: flex;
    padding: 10px 30px;
    margin-top: 30px;
    border-radius: 5px;
    border: 1.5px solid #00a2ff ;
}

.smenus{
    color: #00a2ff;
}

button{
    cursor: pointer;
}

.head{
    margin-bottom: 20px;
}

.form-main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.form-main{
    padding-top: 20px;
}
.form-main > form{
    width: 300px;

}

.profile-pic{
    width: 200px;
    display: flex;
    justify-content: center;
    padding-left: 15px;
}

.profile-pic>img{
    max-width: 200px;
    aspect-ratio: 1/1;
    object-fit: cover;
    
}

.doctors-display{
    display: flex;
    margin-top: 50px;
}

.btn3{
    padding: 2.5px 5px;
    position: relative;
    bottom: 21px;
}

li{
    margin-bottom: 21px;
}


.move-form{
    position: relative;
    top: 20px;
}

.move{
    position: relative;
    margin-bottom: -6px;
}

.patient-acc{
    display: flex;
}

.pic{
    max-height: 150px;
}

.doc-img>img{
    max-height: 200px;
}

.patHead{
    margin-top: 40px;
    margin-left: 85px;
    font-size: 32px;

}

.docs-detail{
    display: flex;
    font-weight: bold;
    align-items: left;
    width: 50%;
    height: 100%;
    margin-left: 40px;
}

.doctor-details{
    display: flex;
}

.hos-details{
    display: flex;
    justify-content: top;
    margin-top: 50px;
    align-items: right;
    flex-direction: column;
    width: 100%;
    color: #1c1c1c;
    height: 100%;
    margin-left: 50px;
    font-size: 35px;
}
.hos-name{
    margin-top: 40px;
    font-weight: bold;
}
.hos-address{
    font-size: 20px;
}

.doc-img{
    margin-top: 40px;
    margin-left: 30px;
}

.container{
    width: 300px;
}

.container > img{
    max-width: 300px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50px;
    margin-left: 75px;
}

.doc-main{
    display: flex;
}

.hospital-card{
    display: flex;
}

.doc-main{
    display: flex;
}

.container1{
    width: 300px;
    margin: 0px;
}



.container1>img{
    max-width: 300px;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.card2{
    display: flex;
}

.d1{
    font-weight: 700;
}

.d1 ,.d1{
    margin-top: 30px;
}

.hospital-main{
    display: flex;
    
}

.main-hospital{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


.hos-card{
    display: flex;
    max-height: 400px;
    align-items: center;
}

.hos-card{
    margin-left: 40px;
}

.form{
    margin-left: 40px;
}

.move{
    margin-top: 60px;
}


.container1 > img{
    border-radius: 50%;
}

.qr{
    max-height: 200px;
    width: 200px;
    object-fit: cover;
    padding-right: 20px;
}

.head{
    text-align: center;
    margin-top: 30px;
    margin-bottom: -5px;
    font-weight: 700;
    font-size: 28px;
    color: #00a2ff;
}

.qr-sec{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.move1{
    position: relative;
    top: 90px;
}

.dis{
    display: flex;
    flex-direction: column;
    gap: 30px;
}







