*{
    font-family: "Poppins", sans-serif;
    color: #1c1c1c;
    text-decoration: none;
}
body{
    background-color: #f2f2f2;
    margin-bottom: 500px;
}
nav{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: white;
}
.left-sec{
    width: 500px;
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 35px;
    font-weight: bold;
    color: #2497ff;
}
.right-sec{
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 15px;
    white-space: nowrap;
}

.web-img{
    width: 75px;
}
.right-sec{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.interface-cont{
    margin-top: 80px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;

}
.int-title{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 150px;
}
h1{
    font-size: 50px;
    color: #2497ff;
    margin: 0px;
    margin-bottom: 30px;
}
h2{
   margin: 0px;
   margin-bottom: 50px;
}
.int-img{
    width: 50%;
    height: 500px;
    margin-top: 20px;
    margin-right: 20px;
}
.consult{
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 40px;
    border-radius: 5px;
    font-size: 18px;
    background-color: #2497ff;
}
.Signup{
   height: 50px;
   width: 100px;
}
.btns{
   display: flex;
   flex-direction: row;
   gap: 20px;

}
.login-form{
    border-radius: 5px;
    margin-left: 100px;
    background-color: #2497ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    width:500px;
    height:500px;
}
.Welcome{
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 80px;
   font-size: 40px;
   border: solid;
   border-radius: 1px;
   padding: 10px;
   font-family: 'poppins' , sans-serif;
   font-weight: bold;
   border-radius: 10px;
   color: white;
   border-color: white;
}
.details{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.input{
    border: none;
    width: 250px;
    height: 40px;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 13px;
    font-weight: bold;
}
.login-btn{
    border: solid;
    border-width: 1px;
    height: 40px;
    background-color: #2497ff;
    border-color: white;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.register > p{
    color: white;
    margin: 0px;
}
.register{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.register > a {
    color: white;
    text-decoration: underline;
}
.wlc{
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.cont-size{
    height: 400px;
}
.img-size{
    height: 380px;
}
.doc-img > img{
    max-width: 280px;
    max-height: 280px;
    object-fit: cover;
    border-radius: 50%;
}
.doctor-details{
    width: 80%;
    margin-left: 10%;
    height: 300px; 
    border: solid;
    border-color: lightgray;
    margin-top: 20px;
    border-width: 1px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    align-items: center;
    padding-left: 20px;

}
.doc-details{
   display: flex;
   justify-content: space-evenly;
   align-items: right;
   flex-direction: column;
   width: 25%;
   color: #1c1c1c;
   height: 100%;
   margin-left: 50px;
   font-weight: bold;
}
.docs-detail{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-weight: bold;
    align-items: left;
    width: 50%;
    height: 100%;
    margin-left: 40px;
}
.appoint{
    border: solid;
    border-width: 1px;
    border-color: #2497ff;
    color: #2497ff;
}
.btns{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: end;
    height: 100%;
    padding-bottom: 80px;
    padding-right: 50px;
}
.appoint{
    width: 150px;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    height: 40px;
    font-weight: bold;
    font-size: 15px;
   
}
.hos-details{
    display: flex;
    justify-content: top;
    padding-top: 100px;
    align-items: right;
    flex-direction: column;
    width: 100%;
    color: #1c1c1c;
    height: 100%;
    margin-left: 50px;
    font-size: 35px;
}
.hos-name{
    margin: 0px;
    font-weight: bold;
}
.hos-address{
    font-size: 20px;
}
.form-cont{
    width: 80%;
    margin-left: 20%;
    height: 600px;
    margin-top: 80px;
    display: flex;
    justify-content: top;
    background-color: white;
    align-items: center;
    flex-direction: column;
}
.form{
    height: 80px;
    width: 80%;
    display: flex;
    gap: 20px;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    padding-bottom: 50px;
    margin-top: -30px;
}
.add-docs{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 30px;
    border: solid;
    border-width: 2px;
    width: 100%;
    height: 80px;
    background-color: #2497ff;
    color: white;
    margin-top: 0px;
    margin-bottom: 80px;
}
.inputs{
    width: 300px;
    height: 40px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    padding-left: 10px;
    border: solid;
    border-width: 1px;
    border-color: lightgray;
}
.add{
    width: 70px;
    height: 40px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    color: #2497ff;
    background-color: white;
    font-weight: bold;
    border: solid;
    border-width: 2px;
    border-color: #2497ff;
    cursor: pointer;
}
.choose-file{
  font-size: 12px;
}
.headline{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 30px;
    padding-top: 20px;
    font-weight: bold;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: lightgray;
}
.detail-box{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.sidebar{
    position: fixed;
    top: 80px;
    bottom: 0px;
    left: 0px;
    width: 21%;
    border-right-style: solid;
    border-right-width: 0.15px;
    border-right-color: lightgray;
    border-top-style: solid;
    border-top-width: 0.15px;
    border-top-color: lightgray;
    background-color: white;
    display: flex;
    flex-direction: column;

}
.top-sec{
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-top: 30px;
}
.down-sec{
    border-top-style: solid;
    border-top-width: 0.15px;
    border-top-color: lightgray;
    height:20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
}
.bottons{
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    font-weight: 500;
    border-width: 1px;
    border-radius: 10px;
    transition: 0.15s;
}
.bottons:hover{
    width: 170px;
    color: white;
    background-color: #2497ff;
}
.patient-details{
    background-color: white;
    margin-top: 80px;
    height: 1000px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.patient-details > p{
    font-size: 30px;
    border: solid;
    height: 40px;
    width: 250px;
    border-radius: 5px;
    border-color: #2497ff;
    color: #2497ff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.info-container{
    display: flex;
    justify-content: space-between;
    border: solid;
    width: 40%;
    height: 300px;
    border-radius: 10px;
    border-color: #2497ff;
}
.det{
    width: 20%;
    padding-left: 10px;
    font-weight: bold;
}
.info-details{
    width: 80%;
    font-weight: bold;
    margin-left: 20px;
}
.download{
    background-color: #2497ff;
    color: white;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    height: 500px;
}
.patient{
    border: none;
}

